.login-background{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.login-background img{
	position: relative;
	width: 100%;
	height: 100%;
}

.box{
	border:0;
	background-color: #273574;
	display: block;
    margin: 20px auto;
    margin-top: 197px;
	text-align: center;
	border: 3px solid #273574;
	padding: 14px 10px;
	width: 556px;
	color: white;
	outline: none;
	transition: 0.25s;
	outline: none;
}

.inputfield{
	outline:none;
}
.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
  margin: 0px;
  margin-bottom: 0.5rem;
  outline: none;
}

.box input{
    border: 3px solid #273574;
    text-align: center;
    width: 390px;
	height: 50px;
	border:1px solid #000000;

}

.login{
    background-color: #7B9AAD;
	color: #FFF;
	outline: none;
}

.login :hover{
    background-color: #566B77;
	color: #FFF;
	outline: none;
}


