.login-background{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.login-background img{
	position: relative;
	width: 100%;
	height: 100%;
}

.box{
	border:0;
	background-color: #004682;
	display: block;
  margin: 20px auto;
  margin-top: 115px;
	text-align: center;
	border: 3px solid #004682;
	padding: 14px 10px;
	width: 556px;
	outline: none;
	color: white;
	transition: 0.25s;
}
.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
  margin: 0px;
  margin-bottom: 0.5rem;
}

.box input{
    border: 3px solid #004682;
    text-align: center;
    width: 390px;
    height: 50px;
    border-radius: 10px;
}

.login{
    background-color: #2D9900;
	color: #FFF;
	outline: none;
}
