nav{
  background-color: #273574;
  height: calc(100% - 59px);
  top: 59px;
  width: 220px;
  position: fixed;
  transition-duration: .5s;
  overflow-y: hidden;
}


nav a{
  text-decoration: none;
  color: white;
  border: 3px solid #273574;
  font-size: 18px;
  min-width: 230px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 25px;
  margin-top: 10px;
  display: block;
  transition-duration: .2s;
}
nav a:hover{ color: grey; }
nav a:first-of-type { margin-top: 80px; }
nav a span{ padding-left: 6px; }
nav a label{ cursor: pointer; }
nav .back{
  position: absolute;
  top: 15px;
  right: 0px;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  min-width: unset;
  color: white;
}

.back {
  color:#FFF;
}
nav .back label{
  font-size: 30px;
  cursor: pointer;
}
.nav-collaps{ width: 40px; }
.nav-collaps a { padding-left: 7px; }
.nav-collaps .back label{ transform: rotate(180deg); }
.nav-collaps a span{ display: none; }
.politielogo1 { margin-left: 100px; }

