
RewriteEngine On

# redirect example/index.php to example/frontend/index.php
RewriteCond %{REQUEST_URI} !frontend/ [NC]
RewriteCond %{REQUEST_URI} !backend/ [NC]
RewriteRule .* frontend/$0 [NC]




## hide .php extension
# To redirect /dir/foo.php to /dir/foo
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteCond %{REQUEST_FILENAME}\.php ^(.*)\.php(.*)$
RewriteRule ^([^.]+)$ $1.php [NC,L]
