body{
    margin: 0px;
    font-family: 'Inter UI', sans-serif;
}
/* navigation bar styles */
nav{
    background-color: rgba(29,93,249);
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover:not(.active) {
    background-color: #111;
}
.active {
  background-color: #4CAF50;
}

/* container styles */
main{
    padding-top: 25px;
}


